<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body class="error-background">
<header th:replace="fragments/commons::header"></header>
<div class="container position-absolute top-50 start-50 translate-middle ">
  <div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-6 bg-overlay  rounded">
      <h1 class="text-center text-white">An unexpected error happened. Please return to the
        <a class="text-info link-underline link-underline-opacity-0" th:href="@{/}">home page</a>
      </h1>
    </div>
    <div class="col-3"></div>
  </div>
</div>
</body>
</html>