<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body class="main-background">
<header th:replace="fragments/commons::header"></header>
<div class="container position-absolute top-50 start-50 translate-middle ">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4 bg-overlay  rounded">
            <h2 class="text-white mt-3 text-center fs-2">Exchange rate</h2>
            <form th:action="@{/exchangeRate}" th:method="GET" th:object="${exchangeRateData}">
                <div class="form-floating mt-3">
                    <input type="text" id="sourceCurrency" class="form-control"
                           placeholder="Place source currency here"
                           th:field="*{sourceCurrency}"
                           th:errorclass="'is-invalid alert-danger'">
                    <div th:each="error: ${#fields.errors('sourceCurrency')}" th:text="${error}" class="text-danger">Error messages</div>
                    <label for="sourceCurrency" class="form-label">From</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="text" id="targetCurrency" class="form-control"
                           placeholder="Place target currency here"
                           th:field="*{targetCurrency}"
                           th:errorclass="'is-invalid alert-danger'">
                    <div th:each="error: ${#fields.errors('targetCurrency')}" th:text="${error}" class="text-danger">Error messages</div>
                    <label for="targetCurrency" class="form-label">To</label>
                </div>
                <div class="text-white fs-4 bg-secondary mt-3 text-center rounded-5" th:if="${successfulGetExchangeRate}">1 <span th:text="*{sourceCurrency}">EUR</span> = <span th:text="${#numbers.formatDecimal(exchangeRate, 1, 4)}">1.9554</span>  <span th:text="*{targetCurrency}">BGN</span></div>
                <div class="text-white fs-4 bg-danger mt-3 text-center rounded-5" th:if="${unsuccessfulGetExchangeRate}">An error occurred</div>
                <div class="text-center">
                    <button class="mt-3 btn btn-dark mb-3 fs-5">Calculate</button>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>